<!doctype html>
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <meta charset="utf-8">
  <title>Vue Practice01 </title>
</head>
<body>
  <div id="app01">
    {{message}}
  </div>
  <div id="app02">
    <span v-bind:title='message01'>
      鼠标悬停查看动态
    </span>
  </div>
  <div id='Aa03'>
    <p v-if='seen'>You see me now!</p>
  </div>
  <div id='app04'>
    <ol>
      <li v-for='todo in todos'>
        {{todo.text}}
      </li>
    </ol>
  </div>
  <div id='app05'>
    <p>
      {{message05}}
      <input v-model='message05'>
    </p>
  </div>
  <div id="app06">
    <ol>
      <todo-item v-for='item in groceryList' v-bind:todo='item' v-bind:key='item.id'>
      </todo-item>
    </ol>
  </div>
  <div id='app07'>
    <p> 原始值为： {{message07}} </p>
    <p> 转换后值为：{{newmessage}}</p>
  </div>
  <div id='app08'>
    {{fullname}}
  </div>
  <div id="watch01">
    <p>
      问一个答案是yse/no的问题：
      <input type="text" v-model='question'>
    </p>
    <p>{{answer}}</p>
  </div>
  <script>
    var Aa01 = new Vue({
      el: "#app01",
      data: {
        message: 'Hi Ja'
      }
    })
    var Aa02 = new Vue({
      el: '#app02',
      data: {
        message01: 'page loading' + new Date().toLocaleString()
      }
    })
    var Aa03 = new Vue({
      el: '#Aa03',
      data: {
        seen: true
      }
    })
    var Aa04 = new Vue({
      el: "#app04",
      data: {
        todos: [
          { text: '学习JS' },
          { text: 'Study Vue.js' },
          { text: 'new project' }
        ]
      }
    })
    var Aa05 = new Vue({
      el: "#app05",
      data: {
        message05: ''
      }
    })
    Vue.component('todo-item', {
      props: ['todo'],
      template: '<li>{{todo.text}}</li>'
    }
    )
    var Aa06 = new Vue({
      el: "#app06",
      data: {
        groceryList: [
          { id: 0, text: '蔬菜' },
          { id: 1, text: '奶酪' },
          { id: 2, text: '随便点菜' }
        ]
      }
    })
    var Aa07 = new Vue({
      el: '#app07',
      data: {
        message07: 'hello'
      },
      computed: {
        newmessage: function () {
          return this.message07.split('').reverse().join('')
        }
      }
    })
    var vm = new Vue({
      el: '#app08',
      data: {
        firstname: "Foo",
        lastname: 'Bar'
      },
      computed: {
        fullname: function () {
          return this.firstname + " " + this.lastname
        }
      }
    })
    //watchtest:
    var watchExample = new Vue({
      el: '#watch01',
      data: {
        question: '',
        answer: '先提问，我才可以回答'
      },
      watch: {
        question: function (newQuestion, oldQuestion) {
          this.answer = '等待输入停止。。。'
          this.getAnswer()
        }
      },
      methods: {
        getAnswer: _.debounce(function () {
          if (this.question.indexOf('?') === -1) {
            this.answer = '问题需要包含问号？'
            return
          }
          this.answer = '思考中。。。'
          var vm = this
          axios.get('https://yesno.wtf/api')
            .then(function (response) {
              vm.answer = _.capitalize(response.data.answer)
            })
            .catch(function (error) {
              vm.answer = "错误，API无法处理" + error
            })
        },
          500
        )
      }
    })
  </script>

</body>

</html>